Repository Yuki-Sakaguchi/gh-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: go-test, go-fmt, go-mod

.lefthook.yml:

# Lefthook configuration for gh-wizard
# Automatic conventional commit prefix generation based on branch name
# 
# Usage:
# 1. Install lefthook: brew install lefthook (or go install github.com/evilmartians/lefthook@latest)
# 2. Setup hooks: lefthook install
# 3. Create feature branch and commit normally - prefixes will be added automatically!
#
# Branch patterns:
# - feature/* or feat/* → feat:
# - fix/* or bugfix/* → fix:
# - docs/* → docs:
# - refactor/* → refactor:
# - test/* → test:
# - chore/* → chore:
# - perf/* → perf:
# - ci/* → ci:
# - build/* → build:
# - style/* → style:

commit-msg:
  commands:
    conventional-prefix:
      run: scripts/add-conventional-prefix.sh {1}
      stage_fixed: false
      
pre-commit:
  commands:
    # Run Go tests
    go-test:
      glob: "*.go"
      run: go test ./...
      fail_text: "Go tests failed. Please fix the failing tests before committing."
      
    # Run Go formatting
    go-fmt:
      glob: "*.go" 
      run: |
        if [ -n "$(gofmt -l .)" ]; then
          echo "Go code is not formatted. Running gofmt..."
          gofmt -w .
          git add .
        fi
      stage_fixed: true
      
    # Check Go modules
    go-mod:
      glob: "{go.mod,go.sum}"
      run: |
        go mod tidy
        if [ -n "$(git diff --name-only go.mod go.sum)" ]; then
          git add go.mod go.sum
        fi
      stage_fixed: true

# Skip lefthook for specific scenarios
skip_output:
  - meta
  - success

source_dir: "."

fix: add workflow_dispatch trigger to release-please workflow
  .github/workflows/release-please.yml
Due: none

fix: enhance workflow permissions for release-please
  .github/workflows/release-please.yml
Due: none

feat: add automatic setup scripts and Makefile
  Makefile
  README.md
  scripts/setup.sh
Due: none

fix: enhance release workflow for reliable binary generation
  .github/workflows/release.yml
Due: none

feat: add comprehensive build and release workflow
  .github/workflows/build-and-release.yml
Due: none

docs: highlight automatic conventional commits feature in README
  README.md
Due: none

fix: resolve Release Please workflow trigger limitations
  .github/workflows/build-and-release.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

feat: add spinner loading indicator for template repository fetching
  cmd/root.go
  gh-wizard
  go.mod
  go.sum
Due: go-test, go-fmt, go-mod

fix: remove unnecessary startup message
  cmd/root.go
  gh-wizard
Due: go-test, go-fmt

Update README
  README.md
Due: none

fix: update release-please action to use supported version and token
  .github/workflows/release-please.yml
Due: none

fix: resolve release-please workflow token error
  .github/workflows/release-please.yml
Due: none

chore: remove unused RepositoryConfig struct
  internal/models/repository.go
Due: go-test, go-fmt

chore: remove unused PushService struct
  internal/wizard/push_service.go
Due: go-test, go-fmt

chore: remove unused ProjectExecutor struct
  internal/wizard/executor.go
Due: go-test, go-fmt

chore: remove executor_test.go
  internal/wizard/executor_test.go
Due: go-test, go-fmt

chore: remove unused config command
  cmd/config.go
Due: go-test, go-fmt

chore: remove unused config package
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
Due: go-test, go-fmt

refactor: remove unused helper functions from client.go
  internal/github/client.go
Due: go-test, go-fmt

refactor: remove unused methods from Template struct
  internal/models/template.go
Due: go-test, go-fmt

refactor: remove legacy ErrorCode constants
  internal/models/errors.go
Due: go-test, go-fmt

test: fix tests after removing unused code
  internal/github/simple_mock_client.go
  internal/models/template_test.go
Due: go-test, go-fmt

test: fix client_test.go error scenarios
  internal/github/client_test.go
Due: go-test, go-fmt
